## 1.0 Importing the Dependencies

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

## 2.0 Data Collection and Analysis

In [2]:
# loading the diabetes dataset 
diabetes_dataset = pd.read_csv("diabetes.csv")

In [3]:
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
# number of rows and columns 
diabetes_dataset.shape

(768, 9)

In [5]:
# getting the statistical measures of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [6]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [7]:
diabetes_dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
diabetes_dataset.groupby("Outcome").describe()

        Pregnancies                                                Glucose  \
              count      mean       std  min   25%  50%  75%   max   count
Outcome
0             500.0  3.298000  3.017185  0.0  1.00  2.0  5.0  13.0   500.0
1             268.0  4.865672  3.741239  0.0  1.75  4.0  8.0  17.0   268.0

                     ... DiabetesPedigreeFunction           Age             \
               mean  ...                      75%    max  count       mean
Outcome              ...
0        109.980000  ...                  0.56175  2.329  500.0  31.190000
1        141.257463  ...                  0.72800  2.420  268.0  37.067164


               std   min   25%   50%   75%   max
Outcome
0        11.667655  21.0  23.0  27.0  37.0  81.0
1        10.968254  21.0  28.0  36.0  44.0  70.0

[2 rows x 64 columns]

In [9]:
# seperating the data and labels
X = diabetes_dataset.drop('Outcome', axis=1)
y = diabetes_dataset['Outcome']

In [10]:
X[:5]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [11]:
y[:5]

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

## 3.0 Train Test Split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [13]:
X_train.shape

(614, 8)

In [14]:
X_test.shape

(154, 8)

## 4.0 Trianing the model

In [15]:
classifier = svm.SVC(kernel='linear')

In [16]:
classifier.fit(X_train, y_train)

SVC(kernel='linear')

## 5.0 Model evaluation

In [17]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [19]:
print(f"Accuracy score of the training data: ", training_data_accuracy)

Accuracy score of the training data:  0.7915309446254072

## 5.0 Saving the model

In [20]:
import pickle

In [21]:
filename = 'diabetes_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [22]:
# loading the saved model 
loaded_model = pickle.load(open('diabetes_model.sav', 'rb'))